* {
    box-sizing: border-box;
}

.header {
    height: 765px;
    width: 850px;
    font-family: Helvetica;
    background-color: lightgray;
    margin: 0 auto;
}

#navbar {
    width: 850px;
    height: 60px;
    background-color: lightseagreen;
    box-sizing: border-box;
    position: relative;
    top: 120px;
    margin-bottom: 130px;

}

#navbar a:hover {
    color: tomato;

}

#navbar span {
    position: relative;
    left: 216px;
    top: 22px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    border-left: solid darkslategray 2px;

}

#time {
    border: 0 !important;
}

#name {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 220px;
    top: 110px;
    padding-top: 100px;
    padding-left: 10px;
}

#website {
    padding-top: 6px;
    font-size: 12px;
}

#navbarRIGHT {
    float: right;
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 25px;
    padding-bottom: 10px;

}

#navbarRIGHT span {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;

}

#colOne {
    width: 328px;
    height: 250px;
    background-color: lightseagreen;
    float: left;
    position: relative;
}

#colOne li {
    padding: 10px 35px 10px 0px;
    font-size: 10px;
}

#photo2 {
    height: 80px;
    width: 80px;
    border: 2px solid lightgray;
    background-color: darkgray;
    padding: 40px;
    float: right;
    bottom: 150px;
    right: 50px;

}

#colTwo {
    width: 512px;
    height: 250px;
    background-color: lightseagreen;
    padding: 0px 10px 10px -5px;
    position: relative;
    left: 338px;
}

#text {
    font-size: 15px;
    position: relative;
    margin: 20px;
    padding-left: 10px;
    padding-right: 20px;
    float: left;
    position: absolute;
    width: 390px
}

#photo {
    width: 165px;
    height: 165px;
    background-color: darkgrey;
    border: 4px solid lightgray;
    position: relative;
    top: 280px;
    left: 53px;
    z-index: 10;

}

#photo3 {
    height: 100px;
    width: 100px;
    border: 2px solid lightgray;
    background-color: darkgray;
    float: right;
    padding: 10px 30px 10px 30px;
    bottom: 50px;
}

#Like {
    height: 20px;
    width: 150px;
    background-color: white;
    border: 2px solid darkgrey;
    padding-bottom: 10px;
}

#Follow {
    height: 20px;
    width: 150px;
    background-color: white;
    border: 2px solid darkgrey;
    padding-bottom: 10px;
}

#Message {
    height: 20px;
    width: 150px;
    background-color: white;
    border: 2px solid darkgrey;
    padding-bottom: 10px;

}

#dots {
    height: 20px;
    width: 150px;
    background-color: white;
    border: 2px solid darkgrey;
    padding-bottom: 10px;
}